---
import NavBar from "../components/NavBar.astro";
import ToggleLanguage from "../components/ToggleLanguage.astro";
import type { AllowedLanguage } from "../config";

interface Props {
	lang: AllowedLanguage;
}
const { lang } = Astro.props;

const mainTitle = {
	en: "International Routing in Astro",
	es: "Enrutamiento Internacional en Astro",
	fr: "Routage International dans Astro",
};
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>International Routing</title>
	</head>
	<body>
		<NavBar lang={lang} />
		<ToggleLanguage lang={lang} />
		<h1>{mainTitle[lang]}</h1>
		<slot />
	</body>
</html>
